.menu {
    .counts {
        font-size: 0.9em;
    }

    .label {
        display: inline;
        font-weight: 700;
        margin-right: 0.5em;
    }

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
    }
}
