.waiting, .failed, .success, .running {
    display: inline-flex;
    align-items: center;
    gap: 0.2em;
}

.waiting, .failed {
    color: #dc3545;

    > button {
        all: unset;
        color: var(--primary-color-text);
        cursor: pointer;
        text-decoration: underline;
        margin-left: 0.5em;
    }
}

.success, .running {
    color: #28a745;
}
