.uri {
    display: inline;
    font-size: 0.95em;
    word-break: break-all;
}

.label {
    color: var(--secondary-color);
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 0.5em;
}

.button {
    all: unset;
    cursor: pointer;
    line-height: 1;
    margin-left: 0.5em;
    color: var(--secondary-color);
}
