.dataset {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.entitySelector {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    row-gap: 0.5em;
}

.description {
    font-size: 0.95em;
    margin: 0;
}

.extra {
    font-size: 0.85em;
    color: var(--secondary-color);
}

.placeholder {
    font-style: italic;
}

.removeBtn {
    all: unset;
    line-height: 1;
    cursor: pointer;
    color: var(--red-color);
}

.dataSelection {
    display: flex;
    align-items: center;
    gap: 1em;

    .status {
        display: flex;
        align-items: center;
        gap: 0.5em;
        font-size: 0.8em;
        font-weight: 700;

        .running {
            width: 1.5em;
            height: 1.5em;
            border-width: 3px;
        }

        .failed {
            color: #df3b3b;
        }
    }
}

@media (min-width: 800px) {
    .entitySelector {
        flex-wrap: wrap;
        flex-direction: row;

        > div {
            flex-basis: 100%;

            &.datasetColumn {
                flex-basis: 60%;
            }

            &.entityColumn {
                flex-basis: 40%;
            }
        }
    }
}
